# Maven / Spring Boot
target/
.mvn/
HELP.md

# SQLite (base local)
*.db
*.db-journal
*.db-shm
*.db-wal

# IDEs
.idea/
*.iml
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# SO
.DS_Store
Thumbs.db

# Entorno / secretos
*.env
*.env.local
